.main {
    /* font-size: 32px;
    font-weight: 900; */
    /* font-size: 35px;
    font-family: 'Lato';
    font-weight: 900;
    text-align: left;
    margin-top: 16px; */
    font-size: 33px;
    font-family: 'Lato';
    font-weight: 900;
    text-align: left;
}

.conatiner {
    max-width: 1300px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.conatiner1 {
    width: 250px;
}

.container2 {
    width: calc(100% - 340px);
}

.hrLeft {
    /* width: 8%;
    margin: 11px 16px 32px 0;
    border: 2px solid red;
    color: red;
    background-color: red; */
    width: 8%;
    margin: 11px 16px 27px 0;
    border: 2px solid red;
    color: red;
    background-color: red;
}

.main2 {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 12PX;
    background-color: #F6F6F6;
}

.imgText {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #DDDDDD;
}

.img1 {
    max-width: 46px;
    margin-bottom: 6px;
}

.img55 {
    width: 100%;
}

.hr2 {
    width: 100%;
    background-color: #e0dbdb;
}

.imgText {
    padding: 8px;
    padding-bottom: 0;
}

.extra {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    padding-bottom: 0;
}

.typewriter {
    color: #4D4D4D;
    margin: 4px 13px;
    font-family: lato;
}

body {
    margin: 0;
}

.container2 {
    display: block;
    /* margin: 0 auto; */
}

.allMain {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main1 {
    width: 100%;
    display: flex;
    margin: 20px 0px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main00 {
    width: 30%;
    padding: 24px;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(100, 100, 111, 0.30) 0px 7px 29px 0px;
    margin-bottom: 40px;
}

.imgNameStar {
    width: 100%;
    justify-content: space-evenly;
    display: flex;
    width: 93%;
    margin-top: 4px;
}

.icon {
    width: 58px;
    height: 59px;
}

.imgNameStar {
    display: flex;
}

.nameStar {
    font-family: lato;
    font-size: 19px;
    font-weight: 700;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 0 0px;
    line-height: 1;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    border: none;
    font-size: 15px;
    padding: 11px 35px;
    cursor: pointer;
}

.appphoto {
    width: 60px;
    height: 60px;
    margin: 21px 0px;
    padding: 0px;
}

h1.text {
    margin: 0;
}

.img2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pText {
    width: 100%;
    margin: 10px 0px 10px 0px;
}

.cliickbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 21px;
}

.text {
    font-size: 33px;
    font-family: 'Lato';
    font-weight: 900;
    text-align: left;
}

.hr {
    width: 8%;
    margin: 11px 16px 9px 0;
    border: 2px solid red;
    color: red;
    background-color: red;
}

.details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.imgbanner {
    /* height: 50%; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.appbanner {
    /* height: 50%; */
}

.textcontent {
    margin: 0;
}

.fa-star:before {
    color: #ffe85f;
}